<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_light"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_light"
        android:supportsRtl="true"
        android:theme="@style/Theme.OurFinance">

        <activity
            android:name="com.altf4.ourfinance.MainActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting">
        </activity>

        <activity-alias
            android:name="com.altf4.ourfinance.MainActivityLight"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_light"
            android:roundIcon="@mipmap/ic_launcher_light"
            android:targetActivity="com.altf4.ourfinance.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.altf4.ourfinance.MainActivityDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_dark"
            android:roundIcon="@mipmap/ic_launcher_dark"
            android:targetActivity="com.altf4.ourfinance.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name="com.altf4.ourfinance.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.altf4.ourfinance.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>